# PHP & CodeIgniter .gitignore
nbproject/private/private.xml

# Arquivos temporários e de cache
*.log
*.cache
*.tmp
logs/
cache/
tmp/
sessions/
.DS_Store

# Arquivos gerados pelo compilador
*.class.php
*.phtml
*.php~
*.swp


# Arquivos de teste
tests/
*_test.php
*.spec.php
*.test.php


# Arquivos não utilizados
.idea/
vendor/
composer.lock


#Arquivos do CodeIgniter
system/
application/cache/
application/logs/
application/third_party/
.htaccess
robots.txt
ngproject/
public/


# Arquivos com senhas e credenciais
.env
.codegpt
/nbproject/private/
uploads/
deploy.sh