# PHP & CodeIgniter .gitignore
nbproject/private/private.xml

# Arquivos temporários e de cache
*.log
*.cache
*.tmp
logs/
cache/
tmp/
sessions/
.DS_Store

# Arquivos gerados pelo compilador
*.class.php
*.phtml
*.php~
*.swp


# Arquivos de teste
tests/
*_test.php
*.spec.php
*.test.php

# Arquivos de deploy/ambiente
deploy/
deploy.php
config/
# Excluir arquivos de configuração de banco de dados
config/.env
config/database.php.dist

# Arquivos não utilizados
.idea/
vendor/
composer.lock


#Arquivos do CodeIgniter
system/
application/cache/
application/logs/
application/third_party/
.htaccess
robots.txt
ngproject/
public/


# Arquivos com senhas e credenciais
.env
config/database.php
.codegpt
/nbproject/private/

application/config/app-config.php
uploads/
deploy.sh
deploy_gringa.sh
deploy_imperio.sh